<% content_for :title, "Editing inicio" %>

<h1>Editing inicio</h1>

<%= render "form", inicio: @inicio %>

<br>

<div>
  <%= link_to "Show this inicio", @inicio %> |
  <%= link_to "Back to inicios", inicios_path %>
</div>
